@import 'assets/scss/colors.scss';

.home-container {
  .genres-container {
    background-color: $color-light-gray;
  }

  h2 {
    color: $color-black;
  }

  h5 {
    color: $color-gray;
  }

  .top-five-container {
    .btn {
      font-size: 1rem;

      &.btn-secondary {
        background-color: $color-blue;
        border-color: $color-blue-border;
      }
    }
  }
}
