@import 'assets/scss/colors.scss';

$details-cast-member-width: 18%;

.details-container {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-weight: 400;
  }

  h5 {
    color: $color-gray-blue;
    font-weight: 400;
    font-size: 1.5rem;
  }

  .details-poster {
    width: 100%;
  }

  .details-year {
    color: $color-gray;
  }

  .details-overview {
    color: $color-gray-blue;
    font-weight: 400;
    font-size: 1.1rem;
  }
}

.details-cast-member {
  max-width: $details-cast-member-width;
  width: $details-cast-member-width;
  min-width: $details-cast-member-width;
  border: none;
}
